<h2>Edit your question</h2>
<form action="/questions/<%= @question.id %>" method="post">
	<input type="hidden" name="_method" value="patch">
	<input type="text" name="question[body]" value="<%= @question.body %>">
	<input type="submit" value="Update">
</form>
<form action="/questions/<%= @question.id %>" method="post">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" value="Delete question">
</form>